{% extends "base.html" %}

{% block content %}
    <h2>Certification: {{ certification.certificate_number }}</h2>
  <p><strong>Certified by:</strong> {{ certification.certified_by }}</p>
  <p><strong>Grade:</strong> {{ certification.get_grade_display }}</p>
  <p><strong>Issued at:</strong> {{ certification.issued_at }}</p>
  {% if certification.certificate_image %}
    <img src="{{ certification.certificate_image.url }}" width="300">
  {% endif %}

   {% if request.user == certification.pearl.owner %}
    <a href="{% url 'certification_update' certification.pk %}">Edit</a>
    <form method='post' action="{% url 'certification_delete' certification.pk %}">
        {% csrf_token %}
        <button>Delete</button>
    </form>
  {% endif %}

  <a href="{% url 'pearl_detail' certification.pearl.id %}">← Back to {{ certification.pearl.name }}</a>

{% endblock  %}