{% extends "base.html" %}

{% block content %}
    <h1>{{ pearl.name }}</h1>
    <img src="{{ pearl.image.url }}" alt="{{ pearl.name }}" width="200">
    <p>{{ pearl.description }}</p>
    <p>Created at: {{ pearl.created_at }}</p>

    {%if request.user == pearl.owner %}
    <a href="{% url 'pearl_update' pearl.id %}" class="btn">Edit</a>
    <form method='post' action="{% url 'pearl_delete' pearl.pk %}">
        {% csrf_token %}
        <button>Delete</button>
    </form>
    {%endif%}

    {% if request.user == pearl.owner %}
    <a href="{% url 'certification_create' pearl.pk %}" class="btn btn-success">Add Certification</a>
    {% endif %}
 
    {% if pearl.certifications.all %}
    <h2>Certifications</h2>
    {% for cert in pearl.certifications.all %}
        <div class="certification">
            <p>Certified by: {{ cert.certified_by }}</p>
            <p>Certificate Number: {{ cert.certificate_number }}</p>
            <p>Grade: {{ cert.grade }}</p>
            <p>Issued at: {{ cert.issued_at }}</p>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
