{% extends 'base.html' %}

{% block content %}
<h1>All Pearls</h1>

<a href="{% url 'pearl_create' %}">Add New Pearl</a>

{% if pearls %}
    <ul>
        {% for pearl in pearls %}
        <li>
            <a href="{% url 'pearl_detail' pearl.id %}">{{ pearl.name }}</a> by {{ pearl.user.username }}
            <br>
            <img src="{{ pearl.image.url }}" alt="{{ pearl.name }}" width="100">
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No pearls have been added yet.</p>
{% endif %}

{% endblock %}
