<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <form action="/auth/logout/" method="post" class="logout-form">
                {% csrf_token %}
                <button class="btn logout-btn">Logout</button>
            </form>
        {%else%}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
