{% extends "base.html" %}

{% block content %}
  <h1>{{ owner.username }}'s Profile</h1>

  {% if pearls %}
    <div>
      {% for pearl in pearls %}
        <div>
          <a href="{% url 'pearl_detail' pearl.pk %}">
            <img src="{{ pearl.image.url }}" alt="{{ pearl.name }}" width="200">
          </a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% if request.user == profile_user %}
      <p>You have not added any pearls yet.</p>
      <a href="{% url 'pearl_create' %}">Add your first pearl</a>
    {% else %}
      <p>{{ profile_user.username }} has not added any pearls yet.</p>
    {% endif %}
  {% endif %}
{% endblock %}
